<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <title>Research Social Network</title>
    <link rel="stylesheet" type="text/css" href="/research/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Sharp%3Asearch" rel="stylesheet">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Amenu" rel="stylesheet">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Aclose" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="sub-header">
        <nav>
            <div class="nav-links" id="navLinks">
                <div class="close-button" type="button" onclick="hideMenu()">
                    <span class="material-icons" type="button">
                        close
                    </span>
                </div>
                <ul>
                    {{#if logged}}
                    <li><a href="/login">HOME</a></li>
                    {{else}}
                    <li><a href="/">HOME</a></li>
                    {{/if}}

                    {{#if logged}}
                    <li><a href="/login/aboutUs">ABOUT US</a></li>
                    {{else}}
                    <li><a href="/aboutUs">ABOUT US</a></li>
                    {{/if}}

                    {{#if logged}}
                    <li><a href="/login/categories">CATEGORIES</a></li>
                    {{else}}
                    <li><a href="/categories">CATEGORIES</a></li>
                    {{/if}}

                    {{#if logged}}
                    <li><a href="#" id="user">PROFILE</a>
                        <div id="myDropdown0" class='dropdown-content0'>
                            <a href="/login/userProf">User <div class='view-prof'>view profile</div></a>
                            <a href="/login/userProf/saved">Library</a>
                            <a href="#">Settings</a>
                            <a href="#">Help center</a>
                            <a href="/logout" id="logout">Log out</a>
                        </div>
                    </li>
                    {{else}}
                    <li><button class="loginbtn" onclick="document.getElementById('id01').style.display='block'"
                            style="width:auto;">LOGIN</button></li>
                    {{/if}}
                </ul>
            </div>
            <div class="menu-button" type="button" onclick="showMenu()">
                <span class="material-icons" type="button">
                    menu
                </span>
            </div>
        </nav>
        <!----categories---->

        <h1>Categories</h1>
        <h4>basic categories for common research topics</h4>

    </section>



    <section class="categories">
        <h1>Choose the category you'd like to explore</h1>
        <p>the results will appear according to the topic of search</p>

        <div class="cat-row" style="padding-left: 1cm;">
            <div class="cat-column" type="button" href="h">
                <img src="/research/images/biology.jfif" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/1">
                    <div class="cat-layer">
                        <h3>Biology</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/1">
                    <div class="cat-layer">
                        <h3>Biology</h3>
                    </div>
                </a>
                {{/if}}
            </div>
            <div class="cat-column" type="button">
                <img src="/research/images/economics.jpg" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/2">
                    <div class="cat-layer">
                        <h3>Economics</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/2">
                    <div class="cat-layer">
                        <h3>Economics</h3>
                    </div>
                </a>
                {{/if}}
            </div>
            <div class="cat-column" type="button">
                <img src="/research/images/engineering.jpg" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/3">
                    <div class="cat-layer">
                        <h3>Engineering</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/3">
                    <div class="cat-layer">
                        <h3>Engineering</h3>
                    </div>
                </a>
                {{/if}}
            </div>
        </div>

        <div class="cat-row" style="padding-left: 1cm;">
            <div class="cat-column" type="button">
                <img src="/research/images/history.png" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/4">
                    <div class="cat-layer">
                        <h3>History</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/4">
                    <div class="cat-layer">
                        <h3>History</h3>
                    </div>
                </a>
                {{/if}}
            </div>
            <div class="cat-column" type="button">
                <img src="/research/images/language.jpg" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/5">
                    <div class="cat-layer">
                        <h3>Language</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/5">
                    <div class="cat-layer">
                        <h3>Language</h3>
                    </div>
                </a>
                {{/if}}
            </div>
            <div class="cat-column" type="button">
                <img src="/research/images/mathematics.jpg" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/6">
                    <div class="cat-layer">
                        <h3>Mathematics</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/6">
                    <div class="cat-layer">
                        <h3>Mathematics</h3>
                    </div>
                </a>
                {{/if}}
            </div>
        </div>


        <div class="cat-row" style="padding-left: 1cm;">
            <div class="cat-column" type="button">
                <img src="/research/images/politics.jpg" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/7">
                    <div class="cat-layer">
                        <h3>Politics</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/7">
                    <div class="cat-layer">
                        <h3>Politics</h3>
                    </div>
                </a>
                {{/if}}
            </div>
            <div class="cat-column" type="button">
                <img src="/research/images/science.jpg" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/8">
                    <div class="cat-layer">
                        <h3>Science</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/8">
                    <div class="cat-layer">
                        <h3>Science</h3>
                    </div>
                </a>
                {{/if}}
            </div>
            <div class="cat-column" type="button">
                <img src="/research/images/sociology.jpg" style="width: 250px; height: 250px;">
                {{#if logged}}
                <a href="/login/search/byCategory/9">
                    <div class="cat-layer">
                        <h3>Sociology</h3>
                    </div>
                </a>
                {{else}}
                <a href="/search/byCategory/9">
                    <div class="cat-layer">
                        <h3>Sociology</h3>
                    </div>
                </a>
                {{/if}}
            </div>
        </div>

    </section>






    <!----find us----->
    <section class="footer" style="margin-top: 100px;">
        <h4>Contact Info</h4>
        <p>For any information you need you can contact us at:
            <br>
            fotisbasamakis@gmail.com
            <br>
            or
            <br>
            nasiavai7@gmail.com
        </p>
        <div class="icons-co">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>



    <!---------login form---------->
    <section>
        <div id="id01" class="modal">
            <form class="modal-content animate" action="/login" method="POST">
                <div class="imgbanner">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                    <img src="/research/images/ban6.png" alt="Avatar" class="avatar">
                </div>

                <div class="cnt">

                    {{#if message}}
                    <h4 style="color: red">{{message}}</h4>
                    {{/if}}
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button class="trial1" type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="cnt" style="background-color:#f1f1f1">
                    <button class="trial2" type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a class="password-link" href="#">password?</a></span>
                </div>
            </form>
        </div>
    </section>




    <!--------js for toggle menu------------>
    <script>

        const userBut = () => {
            document.addEventListener("click", (evt) => {
                const flyoutElement0 = document.getElementById("user");
                let targetElement0 = evt.target; // clicked element

                // console.log('kai edw eimai')

                do {
                    if (targetElement0 == flyoutElement0) {
                        // Do nothing, just return.
                        document.querySelector("#user").classList.toggle("focused0");
                        document.getElementById("myDropdown0").classList.toggle("show0");
                        return;
                    }
                    // Go up the DOM.
                    targetElement0 = targetElement0.parentNode;
                } while (targetElement0);

                // Do something useful here.
                document.getElementById("myDropdown0").classList.remove("show0");
            });
        }
        userBut();
        var navlinks = document.getElementById("navLiks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
        //-----login----


        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>