<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/UserProfile/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>

<body>
    {{#each rows}}
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                {{#if this.profPic}}
                <img id="but0" style="width:auto;" src="/UserProfile/uploads/{{this.profPic}}" alt="User Profile ">
                {{else}}
                <img id="but0" style="width:auto;" src="/UserProfile/images/no-user.jpg" alt="User Profile">
                {{/if}}
                <div>Change Profile Picture</div>
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name">{{this.fname}} {{this.lname}}</h3>
                {{#if this.work}}
                <div class="work">
                    <i class="fa fa-briefcase"></i>
                    <p class="firm">
                        {{this.work}}
                    </p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="main-bd">
            <div class="left-side">
                <div class="profile-side">
                    <p class="education">
                        {{#if this.education}}
                        <i class="fa fa-university"></i>
                        {{this.education}}
                        {{/if}}
                    </p>
                    <p class="interests">
                        <i class="fas fa-tag"></i>
                        Computer Vision
                    </p>
                    <p class="address">
                        <i class="fa fa-map-marker"></i>
                        <span class="address">{{this.address}}, </span>
                        <br>
                        <span class="country">{{this.country}}, </span>
                        <br>
                        <span class="city">{{this.city}}, </span>
                    </p>
                    <p class="email">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        {{this.email}}
                    </p>
                    <p class="phone">
                        <i class="fas fa-phone"></i>
                        {{this.phone}}
                    </p>
                    <div class="user-bio">
                        <h4>Bio</h4>
                        <p class="bio">{{this.biography}}</p>
                        <span class="more">... <a href="#" class="more-a">see more</a></span>
                        <a href="#" class="less">see less</a>
                    </div>
                    <div class="follow">
                        <a class="followers" href="#">0 Followers</a>
                        <a class="following" href="#">0 Following</a>
                    </div>
                    <div class="profile-btn">
                        <span>
                            <a href="/login/userProf/upload" class="upload">
                                <i class="fas fa-file"></i>
                                Upload
                            </a>
                        </span>
                        <span>
                            <a class="edit" id="edit">
                                <i class="fa fa-edit"></i>
                                Edit

                            </a>

                        </span>
                        <div id="myDropdown1" class='dropdown-content'>
                            <a id="but1" style="width:auto;">Name</a>
                            <a id="but2">Affiliations</a>
                            <a href="#">Research Interests</a>
                            <a id="but4" style="width:auto;">Biography</a>
                            <a id="but5" style="width:auto;">Contact Details</a>
                            <a id="but6">Working Place</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="id00" class="modal">
                <form class="modal-content animate" action='/login/userProf/pic' method="POST"
                    encType="multipart/form-data">
                    <div class="nContainer">
                        <label for="firstName" id="name1"><b>Upload Photo</b></label>

                        <input type="file" name="sampleFile" accept="image/*" />

                        <button type="submit" class='but'>Submit</button>
                    </div>
                </form>
            </div>

            <div id="id01" class="modal">
                <form class="modal-content animate" action='/login/userProf/name' method="POST"
                    encType="multipart/form-data">
                    <div class="nContainer">
                        <label for="firstName" id="name1"><b>First Name</b></label>
                        <input type="text" placeholder="Enter Name" name="fname">

                        <label for="lastName"><b>Last Name</b></label>
                        <input type="text" placeholder="Enter Name" name="lname">

                        <button type="submit" class='but'>Submit</button>
                    </div>
                </form>
            </div>

            <div id="id02" class="modal">
                <form class="modal-content animate" action='/login/userProf/edu' method="POST"
                    encType="multipart/form-data">
                    <div class="nContainer">
                        <label for="firstName" id="name1"><b>Education</b></label>
                        <input type="text" placeholder="Enter Name" name="education">

                        <button type="submit" class='but'>Submit</button>
                    </div>
                </form>
            </div>

            <div id="id04" class="modal">
                <form class="modal-content animate" action='/login/userProf/bio' method="POST"
                    encType="multipart/form-data">
                    <div class="nContainer">
                        <label for="about"><b>About</b></label>
                        <div class="textArea"><textarea type="text" rows="10" cols="50" name="bio"></textarea></div>

                        <button type="submit" class='but'>Submit</button>
                    </div>
                </form>
            </div>

            <div id="id05" class="modal">
                <form class="modal-content animate" action='/login/userProf/communication' method="POST"
                    encType="multipart/form-data">
                    <div class="nContainer">
                        <label for="email"><b>Contact Email</b></label>
                        <input type="text" name="email" placeholder="Enter Email">

                        <label for="number"><b>Phone Number</b></label>
                        <input type="text" name="phone" placeholder="Enter Number">

                        <label for="address"><b>Address</b></label>
                        <input type="text" name="address" placeholder="Enter Address">

                        <label for="city"><b>City</b></label>
                        <input type="text" name="city" placeholder="Enter City">

                        <label for="country"><b>Country</b></label>
                        <input type="text" name="country" placeholder="Enter Country">

                        <button type="submit" class='but'>Submit</button>
                    </div>
                </form>
            </div>

            <div id="id06" class="modal">
                <form class="modal-content animate" action='/login/userProf/work' method="POST"
                    encType="multipart/form-data">
                    <div class="nContainer">
                        <label for="email"><b>Working Place</b></label>
                        <input type="text" name="work" placeholder="Enter Email">
                        <button type="submit" class='but'>Submit</button>
                    </div>
                </form>
            </div>

            <div class="profile-body">
                <div class="posts">
                    {{#each ../result}}
                    <div class="postContent">
                        <span class="pdf-icon"></span>
                        <h3 class="paperTitle"> <a href="/login/userProf/display/{{this.adDocumentID}}" style="text-decoration: none; color:black;">
                                {{this.name}}
                            </a>
                        </h3>
                        <div class="paperControl">
                            <a href="/login/userProf/download/{{this.adDocumentID}}" id="downloadBut">Download</a>
                            <a href="/login/userProf/edit/{{this.adDocumentID}} ">Edit</a>
                            <a href="/login/userProf/delete/{{this.adDocumentID}} ">Delete</a>
                        </div>
                    </div>
                    <div class="givePadding"></div>
                    {{/each}}
                </div>

            </div>
        </div>

    </div>
    <script src="/UserProfile/src/script.js"></script>
    {{/each}}

</body>

</html>