<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAVIGATION</title>
    <script src="https://use.fontawesome.com/65a84614d5.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Sharp%3Asearch" rel="stylesheet">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Amenu" rel="stylesheet">
    <link href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Aclose" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Nunito", sans-serif;
        }

        .show-small {
            display: none;
        }

        .header {
            width: 100%;
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
                url(/research/images/ban1.jpg);
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        nav {
            display: flex;
            /* padding: 2% 6%; */
            justify-content: space-between;
            align-items: center;
        }

        nav img {
            width: 150px;
        }

        .nav-links {
            flex: 1;
            text-align: right;
        }

        .nav-links ul li {
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
        }

        .nav-links button {
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
        }

        .nav-links button {
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            background: transparent;
        }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
        }

        .nav-links ul li::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #8e3ad3;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

        .loginbtn {
            display: inline-block;
            border-radius: 4px;
            background-color: aquamarine;
            border: none;
            color: #ffffff;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .loginbtn li {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .loginbtn li:after {
            content: "\00bb";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .loginbtn:hover li {
            padding-right: 25px;
        }

        .loginbtn:hover li:after {
            opacity: 1;
            right: 0;
        }

        .search-bar {
            position: relative;
            width: 60%;
            left: 8%;
        }

        .search-bar input {
            height: 5vh;
            width: 45%;
            line-height: 1.625;
            outline: none;
            background-color: #eee;
            background-image: url(//addsearch.com/logo/AAAAAA-20.png);
            background-repeat: no-repeat;
            background-position: 95% 50%;
            border: none;
            border-radius: 32px;
            font-size: 20px;
            padding-left: 10px;
        }

        .search-bar input:focus {
            background-image: linear-gradient(to right, #ced3d5, #eee);
            border-radius: 32px;
        }

        .material-icons {
            color: rgb(58, 206, 211);
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
        }

        .search-text {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: bisque;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
        }

        nav .close-button {
            display: none;
        }

        nav .menu-button {
            display: none;
        }



        @media screen and (max-width: 1024px) {
            .search-bar {
                position: relative;
                left: 5%;
                width: 40%;
            }

            .search-bar input {
                width: 75%;
            }

            .nav-links {
                display: flex;
                justify-content: start;
            }
        }

        @media (max-width: 680px) {
            .no-show {
                display: none;
            }

            .show-small {
                display: block;
            }

            nav {
                display: flex;
                justify-content: start;
            }

            .nav-links {
                display: block;
            }

            .search-bar {
                width: 60%;
                float: left;
            }

            .search-bar input {
                width: 50%;
            }

            .nav-links ul li {
                display: block;
            }

            .nav-links {
                position: absolute;
                background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
                    url(/research/images/ban3.jpg);
                height: 100vh;
                width: 30%;
                top: 0;
                right: -30%;
                text-align: left;
                z-index: 2;
                transition: 1s;
            }

            nav .menu-button {
                display: block;
                color: #fff;
                margin: 10px;
                font-size: 22px;
                cursor: pointer;
            }

            nav .close-button {
                display: block;
                color: #fff;
                margin: 10px;
                font-size: 22px;
                cursor: pointer;
            }

            .nav-links ul {
                padding: 30px;
            }
        }

        /* login pop up window*/
        /* Full-width input fields */
        .cnt input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid white;
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        .trial1,
        .trial2 {
            background-color: #8e3ad3;
            color: black;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .cnt button:hover {
            opacity: 0.8;
        }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #8e3ad3;
        }

        /* Center the image and position the close button */
        .imgbanner {
            text-align: center;
            margin: 24px 0 12px 0;
            position: relative;
        }

        img.avatar {
            width: 20%;
            border-radius: 50%;
        }

        .cnt {
            padding: 16px;
        }

        .psw {
            color: white;
        }

        .password-link {
            color-adjust: white;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /*Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            padding-top: 60px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: white;
            margin: 5% auto 15% auto;
            /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 50%;
            /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #bb7fec;
            cursor: pointer;
        }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s;
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }

        /* DropDown content of profile*/
        .dropdown-content0 {
            display: none;
            position: absolute;
            top: 85%;
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
                url(/research/images/ban3.jpg);
            min-width: 132px;
            right: 4%;
            z-index: 1;
        }

        .dropdown-content0 a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content0 a:hover {
            background-color: #194b63;
            color: white;
        }

        .view-prof {
            color: rgb(151, 151, 151);
        }

        .show0 {
            display: block;
        }
    </style>
</head>

<body>
    <section class="header" style="min-height:50px;">
        <nav>
            <div class="menu-button" type="button" onclick="showMenu()">
                <span class="material-icons" type="button">
                    menu
                </span>
            </div>
            {{#if logged}}
            <form class="search-bar" method="POST" action="/login/search" novalidate>
                <input type="search" name="search" class="search-bar_input" placeholder="Search.."
                    aria-label="search" />
            </form>
            {{else}}
            <form class="search-bar" method="POST" action="/search" novalidate>
                <input type="search" name="search" class="search-bar_input" placeholder="Search.."
                    aria-label="search" />
            </form>
            {{/if}}

            <div class="nav-links" id="navLinks">
                <div class="close-button" type="button" onclick="hideMenu()">
                    <span class="material-icons" type="button">
                        close
                    </span>
                </div>
                <ul>
                    {{#if logged}}
                    <li><a href="/login">HOME</a></li>
                    {{else}}
                    <li><a href="/">HOME</a></li>
                    {{/if}}

                    {{#if logged}}
                    <li><a href="/login/aboutUs">ABOUT US</a></li>
                    {{else}}
                    <li><a href="/aboutUs">ABOUT US</a></li>
                    {{/if}}

                    {{#if logged}}
                    <li><a href="/login/categories">CATEGORIES</a></li>
                    {{else}}
                    <li><a href="/categories">CATEGORIES</a></li>
                    {{/if}}

                    {{#if logged}}
                    <li class="no-show"><a href="#" id="user" class="no-show">PROFILE</a>
                        <div id="myDropdown0" class='dropdown-content0'>
                            <a href="/login/userProf">User <div class='view-prof'>view profile</div></a>
                            <a href="/login/userProf/saved">Library</a>
                            <a href="#">Settings</a>
                            <a href="#">Help center</a>
                            <a href="/logout" id="logout">Log out</a>
                        </div>
                    </li>
                    <div class="show-small">
                        <li><a href="/login/userProf">USER</a></li>
                        <li><a href="/login/userProf/saved">LIBRARY</a></li>
                        <li><a href="#">SETTINGS</a></li>
                        <li><a href="#">HELP CENTER</a></li>
                        <li><a href="/logout" id="logout">LOGOUT</a></li>
                    </div>

                    {{else}}
                    <li><button class="loginbtn" onclick="document.getElementById('id01').style.display='block'"
                            style="width:auto;">LOGIN</button></li>
                    {{/if}}

                </ul>
            </div>


        </nav>
    </section>

    <!---------login form---------->
    <section>
        <div id="id01" class="modal">
            <form class="modal-content animate" action="/login" method="POST">
                <div class="imgbanner">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                </div>

                <div class="cnt">

                    {{#if message}}
                    <h4 style="color: red">{{message}}</h4>
                    {{/if}}
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button class="trial1" type="submit">Login</button>
                </div>
                <span class="psw">Forgot <a class="password-link" href="#">password?</a></span>
        </div>
        </form>
        </div>
    </section>


    <!--------js for toggle menu------------>
    <script>
        const userBut = () => {
            document.addEventListener("click", (evt) => {
                const flyoutElement0 = document.getElementById("user");
                let targetElement0 = evt.target; // clicked element

                // console.log('kai edw eimai')

                do {
                    if (targetElement0 == flyoutElement0) {
                        // Do nothing, just return.
                        document.querySelector("#user").classList.toggle("focused0");
                        document.getElementById("myDropdown0").classList.toggle("show0");
                        return;
                    }
                    // Go up the DOM.
                    targetElement0 = targetElement0.parentNode;
                } while (targetElement0);

                // Do something useful here.
                document.getElementById("myDropdown0").classList.remove("show0");
            });
        }
        userBut();

        function getCookie() {
            var x = document.cookie;
            return x;
        }

        var navlinks = document.getElementById("navLiks");
        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
        //-----login----


        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>

</html>